.navBar{
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 4% 3% 0% 3%;
  height: 0vh
}

.naviButton {
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  font-family: 'Assistant';
  font-weight: normal;
  font-size: 2vh;
  outline: none;
}

.naviButtonSelected{
  border-width: 0;
  background-color: transparent;
  color: #dcf3ff;
  font-size: 2vh;
  font-family: 'Assistant';
  outline: none;
}

.naviButton:hover{
  border-width: 0;
  background-color: transparent;
  color: #dcf3ff;
  font-family: 'Assistant';
  font-size: 2vh;
  outline: none;
}

.homeButton{
  max-height: 7vh;
}

.name {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          color:#dcf3ff;
          text-align: center;
          font-weight: light;
          font-size: 8vh;
          font-family: 'Assistant';
          max-height: 2vh;
          padding-top: 8vh;
}

.belowName {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
          animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
          color:#dcf3ff;
          text-align: center;
          font-size: 2.5vh;
          font-weight: light;
}

.copyrightText{
  display: flex;
  flex: 1;
  bottom: -43vh;
  position: relative;
}

.contactBar{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 3vh;
  max-height: 2vh;
  padding-top: 4vh;
  padding-bottom: 1.5vh;
  padding-left: 2vw;
}

.contactIcon{
  width: 5vh;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-bck-center {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  
	-webkit-animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          background-color: transparent;
          outline: none;
          border-width: 0;
}

.slide-in-bck-center .popupText{
  font-family: "Assistant";
  font-weight: bold;
  visibility: hidden;
  width: 120px;
  background-color: transparent;
  color: #dcf3ff;
  text-align: center;
  border-radius: 6px;
}

.slide-in-bck-center:hover .popupText{
  visibility: visible;
}

.copyButton {
	-webkit-animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          background-color: transparent;
          outline: none;
          border-width: 0;
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.homePage{
  background-image: url("./images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: center;
  min-height: 75vh;
  background-color: black;
}

.pageStates{
  max-height: 75vh;
}

.timelineTitle{
  color:#dcf3ff;
  text-align: left;
  font-weight: light;
  font-size: 6vh;
  font-family: 'Assistant';
  max-height: 2vh;
  padding: 1% 0% 0% 1%
}

.gradientLine{
  animation: cha-cha-real-smooth 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  height: 1vh;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(220,243,255,1) 45%);
}

@keyframes cha-cha-real-smooth{
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.infoBox{
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 2vh;
  padding-top: 1vh;
}

.timelineObject{
  -webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  position:relative;
  margin:1px auto;
  width: 19vh;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.timelineYear{
  color:#dcf3ff;
  font-weight: bold;
  font-size: 2.5vh;
  font-family: 'Assistant';
  max-height: 1vh;
}

.timelineInfoTitle{
  color:#dcf3ff;
  font-weight: bold;
  font-size: 2.5vh;
  font-family: 'Assistant';
  max-height: 1vh;
  padding-bottom: 3vh;
}

.timelineText{
  font-weight: normal;
  font-size: 1.8vh;
}

.projectPageTitle{
  color:#dcf3ff;
  text-align: left;
  font-weight: normal;
  font-size: 6vh;
  font-family: 'Assistant';
  max-height: 2.5vh;
  padding: 1% 0% 0% 1%
}

.projectIcon{
  max-height: 20vh;
}

.projectButton{
  align-items: center;
  display: flex;
  flex: 1;
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  outline: none;
  padding-bottom: 2vh;
  flex-direction: column;
}

.projectButton .projectPopup{
  font-family: "Assistant";
  font-weight: bold;
  visibility: hidden;
  width: 40vw;
  background-color: transparent;
  color: #dcf3ff;
  text-align: center;
  border-radius: 6px;
}

.projectButton:hover .projectPopup{
  -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  visibility: visible;
}

.projectBox{
  align-items: flex-start;
  /* justify-content: space-between; */
}

.projectYear{
  color:#dcf3ff;
  font-weight: light;
  font-size: 3vh;
  font-family: 'Assistant';
  max-height: 0vh;
}

.projectTitle{
  color:#dcf3ff;
  font-weight: bold;
  font-size: 2.5vh;
  font-family: 'Assistant';
  max-height: 1vh;
  padding-top: no;
}

.projectDescription{
  color:#dcf3ff;
  font-weight: normal;
  font-size: 2vh;
  font-family: 'Assistant';
  max-height: 1vh;
  padding-top: no;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-100px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-100px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-100px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-100px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.projectsBox{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.projectSection{
  align-items: center;
  display: flex;
  flex: 1;
  
}

.aboutPage{
  max-height: 70vh;
}

.aboutMeBox{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.aboutMeTitle{
  color:#dcf3ff;
  text-align: left;
  font-weight: light;
  font-size: 6vh;
  font-family: 'Assistant';
  max-height: 1vh;
  padding: 1% 0% 0% 1%
}

.Ken{
  max-width: 30vh; 
  padding-left: 1vh;
}

.aboutMeText{
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

.skillButton{
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  outline: none;
  padding-bottom: 2vh;
}

.skillLogo{
  max-width: 7vh;
}




/* MOBILE CSS */

.navBar-m{
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10% 3% 0% 3%;
  height: 0vh
}

.naviButtonM{
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  font-family: 'Assistant';
  font-weight: normal;
  font-size: 2vh;
  outline: none;
}

.naviButtonSelected-m{
  border-width: 0;
  background-color: transparent;
  color: #dcf3ff;
  font-size: 2vh;
  font-family: 'Assistant';
  outline: none;
}

.naviButton-m:hover{
  border-width: 0;
  background-color: transparent;
  color: #dcf3ff;
  font-family: 'Assistant';
  font-size: 2vh;
  outline: none;
}

.icon-m{
  max-height: 8vh;
}

.homeButton-m{
  max-height: 8vh;
}

.name-m{
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          color:#dcf3ff;
          text-align: center;
          font-weight: light;
          font-size: 5vh;
          font-family: 'Assistant';
          max-height: 1vh;
          padding-top: 8vh;
}

.belowName-m{
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
          animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
          color:#dcf3ff;
          text-align: center;
          font-size: 2vh;
          font-weight: light;
}

.copyrightText-m{
  display: flex;
  flex: 1;
  bottom: -47vh;
  position: relative;
  font-size: 1.9vh;
}

.contactBar-m{
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: space-evenly;
  position: relative;
  bottom: -6vh;
  max-height: 2vh;
  max-width: 100vw;
}

.contactIcon-m{
  width: 4vh;
}

.slide-in-bck-center-m{
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  width: 2vw;
	-webkit-animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          background-color: transparent;
          outline: none;
          border-width: 0;
}

.slide-in-bck-center-m .popupText-m{
  font-family: "Assistant";
  font-weight: bold;
  visibility: hidden;
  width: 90px;
  background-color: transparent;
  color: #dcf3ff;
  text-align: center;
  border-radius: 6px;
}

.slide-in-bck-center-m:hover .popupText-m{
  visibility: visible;
}

.copyButton-m{
	-webkit-animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          background-color: transparent;
          outline: none;
          border-width: 0;
}

.homePage-m{
  background-image: url("./images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: center;
  min-height: 75vh;
  background-color: black;
}

.pageStates-m{
  min-height: 75vh;
}

.timelinePage-m{
  min-height: 76.1vh;
  max-height: 76.1vh;
}

.timelineTitle-m{
  color:#dcf3ff;
  text-align: left;
  font-weight: light;
  font-size: 3.8vh;
  font-family: 'Assistant';
  max-height: 1vh;
  padding: 1% 0% 2% 0.9%;
  padding-bottom: 1.5vh;
}

.gradientLine-m{
  animation: cha-cha-real-smooth-m 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  max-width: 2vh;
  background: rgb(0,0,0);
  background: linear-gradient(rgba(0,0,0,1) 0%, rgba(220,243,255,1) 45%);
  padding: 0% 1% 1% 0%;
  float: left;
}

@keyframes cha-cha-real-smooth-m{
  0% {
    height: 0vh;
  }
  100% {
    height: 65vh;
  }
}

.infoBox-m{
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 1.5vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.timelineObject-m{
  -webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  position: relative;;
}

.timelineYear-m{
  color:#dcf3ff;
  font-weight: bold;
  font-size: 2vh;
  font-family: 'Assistant';
  max-height: 0.5vh;
  padding: none;
}

.timelineInfoTitle-m{
  color:#dcf3ff;
  font-weight: bold;
  font-size: 2vh;
  font-family: 'Assistant';
  max-height: 0.5vh;
}

.timelineText-m{
  font-weight: normal;
  font-size: 1.8vh;
  max-height:1vh;
  padding-bottom: 1vh;
}

.projectScreen-m{
  min-height: 76.1vh;
}

.projectPageTitle-m{
  color:#dcf3ff;
  text-align: left;
  font-weight: normal;
  font-size: 4vh;
  font-family: 'Assistant';
  max-height: 1vh;
  padding: 1% 0% 0% 1%;
  padding-left: 2vh;
}

.projectIcon-m{
  max-height: 15vh;
}

.projectButton-m{
  align-items: center;
  display: flex;
  flex: 1;
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  outline: none;
  padding-bottom: 2vh;
  flex-direction: column;
}

.projectButton-m .projectPopup-m{
  -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
          animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  padding-bottom: 5vh;
  font-family: "Assistant";
  font-weight: bold;
  visibility: visible;
  width: 150px;
  background-color: transparent;
  color: #dcf3ff;
  text-align: center;
  border-radius: 10px;
}

.projectButton-m:focus .projectPopup-m{
  -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  visibility: visible;
}

.projectBox-m{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.projectYear-m{
  color:#dcf3ff;
  font-weight: light;
  font-size: 2vh;
  font-family: 'Assistant';
  max-height: 0vh;
}

.projectTitle-m{
  color:#dcf3ff;
  font-weight: bold;
  font-size: 2vh;
  font-family: 'Assistant';
  max-height: 0vh;
}

.projectDescription-m{
  color:#dcf3ff;
  font-weight: normal;
  font-size: 1.75vh;
  font-family: 'Assistant';
  max-height: 1vh;
  padding-top: no;
}

.projectsBox-m{
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: initial;
}

.projectSection-m{
  align-items: center;
  display: flex;
  flex: 1;
  
}

.aboutMeScreen-m{
  min-height: 76.1vh;
}

.aboutMeBox-m{
  display: flex;
  flex: 1;
  justify-content: space-between;
  min-height: 68.9vh;
}

.aboutMeTitle-m{
  color:#dcf3ff;
  text-align: left;
  font-weight: light;
  font-size: 4vh;
  font-family: 'Assistant';
  max-height: 1vh;
  padding: 1% 0% 0% 1%
}

.Ken-m{
  max-width: 20vh; 
  padding-left: 1vh;
}

.aboutMeText-m{
  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 1.62vh;
  font-weight: normal;
}

.skillButton-m{
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  outline: none;
  padding-bottom: 2vh;
}

.skillLogo-m{
  max-width: 5vh;
}