.navBar{
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 3.5% 3% 0% 3%;
  height: 0vh
}

.naviButton {
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  font-family: 'Assistant';
  font-weight: normal;
  font-size: 2.5ch;
  outline: none;
}

.naviButtonSelected{
  border-width: 0;
  background-color: transparent;
  color: #dcf3ff;
  font-size: 2.5ch;
  font-family: 'Assistant';
  outline: none;
}

.naviButton:hover{
  border-width: 0;
  background-color: transparent;
  color: #dcf3ff;
  font-family: 'Assistant';
  font-size: 2.5ch;
  outline: none;
}

.homeButton{
  max-height: 7vh;
}

.name {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          color:#dcf3ff;
          text-align: center;
          font-weight: light;
          font-size: 10ch;
          font-family: 'Assistant';
          max-height: 1ch;
          padding-top: 8vh;
}

.belowName {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
          animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
          color:#dcf3ff;
          text-align: center;
          font-size: 3ch;
          font-weight: light;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

.contactBar{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 3vh;
  max-height: 2vh;
  padding-top: 4vh;
  padding-bottom: 1.5vh;
  padding-left: 2vw;
}

.contactIcon{
  width: 7ch;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-bck-center {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  
	-webkit-animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          background-color: transparent;
          outline: none;
          border-width: 0;
}

.slide-in-bck-center .popupText{
  font-family: "Assistant";
  font-weight: bold;
  visibility: hidden;
  width: 120px;
  background-color: transparent;
  color: #dcf3ff;
  text-align: center;
  border-radius: 6px;
}

.slide-in-bck-center:hover .popupText{
  visibility: visible;
}

.copyButton {
	-webkit-animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          background-color: transparent;
          outline: none;
          border-width: 0;
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.homePage{
  background-image: url("./images/image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-position-y: center;
  min-height: 75vh;
  background-color: black;
}

.pageStates{
  max-height: 75vh;
}

.timelineTitle{
  color:#dcf3ff;
  text-align: left;
  font-weight: light;
  font-size: 8ch;
  font-family: 'Assistant';
  max-height: 1ch;
  padding: 1% 0% 0% 1%
}

.gradientLine{
  animation: cha-cha-real-smooth 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  height: 1vh;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(220,243,255,1) 45%);
}

@keyframes cha-cha-real-smooth{
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.infoBox{
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 2ch;
  padding-top: 1vh;
}

.timelineObject{
  -webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  position:relative;
  margin:1px auto;
  width: 19vh;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.timelineYear{
  color:#dcf3ff;
  font-weight: bold;
  font-size: 3ch;
  font-family: 'Assistant';
  max-height: 1vh;
}

.timelineInfoTitle{
  color:#dcf3ff;
  font-weight: bold;
  font-size: 3ch;
  font-family: 'Assistant';
  max-height: 1vh;
  padding-bottom: 4.5vh;
}

.timelineText{
  font-weight: normal;
  font-size: 2.7ch;
}

.projectPageTitle{
  color:#dcf3ff;
  text-align: left;
  font-weight: normal;
  font-size: 8ch;
  font-family: 'Assistant';
  max-height: 1ch;
  padding: 1% 0% 0% 1%
}

.projectIcon{
  max-height: 20vh;
}

.projectButton{
  align-items: center;
  display: flex;
  flex: 1;
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  outline: none;
  padding-bottom: 2vh;
  flex-direction: column;
}

.projectButton .projectPopup{
  font-family: "Assistant";
  font-weight: bold;
  visibility: hidden;
  width: 290px;
  background-color: transparent;
  color: #dcf3ff;
  text-align: center;
  border-radius: 6px;
}

.projectButton:hover .projectPopup{
  -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  visibility: visible;
}

.projectBox{
  align-items: flex-start;
  /* justify-content: space-between; */
}

.projectYear{
  color:#dcf3ff;
  font-weight: light;
  font-size: 3ch;
  font-family: 'Assistant';
  max-height: 0vh;
}

.projectTitle{
  color:#dcf3ff;
  font-weight: bold;
  font-size: 4ch;
  font-family: 'Assistant';
  max-height: 1vh;
  padding-top: no;
}

.projectDescription{
  color:#dcf3ff;
  font-weight: normal;
  font-size: 3ch;
  font-family: 'Assistant';
  max-height: 1vh;
  padding-top: no;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-100px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-100px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-100px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-100px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.projectsBox{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.projectSection{
  align-items: center;
  display: flex;
  flex: 1;
  
}

.aboutPage{
  max-height: 70vh;
}

.aboutMeBox{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.aboutMeTitle{
  color:#dcf3ff;
  text-align: left;
  font-weight: light;
  font-size: 8ch;
  font-family: 'Assistant';
  max-height: 1ch;
  padding: 1% 0% 0% 1%
}

.Ken{
  max-width: 40vh; 
  padding-left: 4vh;
}

.aboutMeText{
  padding-left: 2vh;
  padding-right: 2vh;
}

.skillButton{
  border-width: 0;
  background-color: transparent;
  color: #FFF;
  outline: none;
  padding-bottom: 2vh;
}

.skillLogo{
  max-width: 10vh;
}